*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: #F3FFFF;
}
#logo{
    float: left;
    font-size: 280;
    margin-top: 40px;
    margin-left: 200px;
    font-size: large;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
#nav-bar{
    font-family: Lato, sans-serif;
    font-size: 110%;
    margin-top: 50px;

}
#nav-bar a{
    text-decoration: none;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
#nav-bar:hover, #nav-bar:focus {
  color: #313133;
  transform: translateY(-6px);
}
#nav-bar li{
    float: right;
    list-style-type: none;
    margin-right: 200px;
    margin-top: 60px;
}
#home{
    width: 600px;
    height: 300px;
    margin: 150px auto 0px;
    border: 3px groove #4FD1C5;
    font-size: 25px;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.3), 
    0px -1px 2px #4fd1c5;
    padding: 50px 50px 200px;
    text-align:center;
    overflow: hidden;
    clear: both;
}
.wrap{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      position:absolute;
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  footer{
    font-size: 150%;
    border: 3px groove #4FD1C5;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.3), 
    0px -1px 2px #4fd1c5;
    text-align: center;
    height: 40px;
    margin: 20px;
    padding: 80px 0px 80px;
  }