*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: lightgray;
}
#logo{
    float: left;
    font-size: 280;
    margin-top: 40px;
    margin-left: 80px;
}
#nav-bar{
    font-family: Lato, sans-serif;
    font-size: 110%;
    margin-top: 50px;
}
#nav-bar a{
    text-decoration: none;
    background-color: lightgray;
    opacity: 0.8;
}
#nav-bar li{
    float: right;
    list-style-type: none;
    margin-right: 200px;
    margin-top: 60px;
}